QPushButton#sidebarButton {
    background-color: blue;
    border: none;
    border-radius: 20px;
}

QPushButton#liveButton {
    background-color: red;
    border: none;
    border-radius: 20px;
}

QPushButton#cards {
    background-color: green;
    border: none;
    border-radius: 20px;
}

QPushButton#plusCircle {
    background-color: orange;
    color: green;
    border: none;
    border-radius: 25px;

    font-family: "Inter";
    font-weight: 700;
    font-size: 50px;
}
